* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.site-container {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 500px;
}

.dispatch-event {
  width: 174px;
}
.dispatch-event a {
  text-decoration: none;
}
.dispatch-event .date-time {
  text-transform: uppercase;
  color: #888;
  font-size: 10px;
  margin-bottom: 6px;
}
.dispatch-event .dispatch-image img {
  width: 100%;
}
.dispatch-event .title-bubble {
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dispatch-event .title-bubble .title h5 {
  font-size: 11px;
  margin-bottom: 0px;
  color: #1A1C18;
}
.dispatch-event .title-bubble .bubble {
  position: relative;
  min-width: 24px;
  height: 16px;
  background-color: #888;
  color: #fff;
  font-size: 8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dispatch-event .title-bubble .bubble .triangle {
  position: absolute;
  bottom: -7px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 0;
  border-color: #888 transparent transparent transparent;
}

.dispatch-event a:hover .title h5 {
  color: #ff4444;
}

ul.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px 60px;
}
ul.explore li {
  list-style-type: none;
}
ul.explore li a img {
  width: 340px;
  height: 340px;
}

nav {
  position: fixed;
  max-width: 1100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: solid 2px #fff;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav .logo {
  width: 92px;
  height: 42px;
  margin-top: 30px;
  margin-bottom: 20.5px;
  border: solid 2px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
nav .links {
  height: 18px;
  width: 498px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #79ADDC;
  margin-top: 47px;
  margin-bottom: 27px;
  letter-spacing: 1px;
}
nav .links a {
  color: #fff;
  text-decoration: none;
}
nav .links a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .logo {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  nav .links {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
  }
}
.home .hero {
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
  background-position: center;
}
.home .hero .travel-fly {
  padding: 162px 0 28px;
  font-size: 60px;
  color: #fff;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home .hero .description {
  font-style: italic;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 48px;
}
.home .hero .read-more {
  width: 120px;
  padding: 5px 15px;
  background-color: #79addc;
  border-radius: 0;
  color: #fff;
  padding: 11px 21px;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: 0 auto;
  margin-bottom: 93px;
}
.home .promo-trips {
  margin: 0 auto;
  margin-top: -50px;
  min-height: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 818px;
}
.home .promo-trips .trip-location {
  width: 236px;
  height: 304px;
  color: #fff;
  text-align: center;
  font-family: "Proxima Nova Condensed", sans-serif;
}
.home .promo-trips .trip-location .location-name {
  margin-top: 37px;
  margin-left: 27px;
  margin-right: 27px;
  font-size: 60px;
  text-transform: uppercase;
  height: 80px;
}
.home .promo-trips .trip-location .trip-price {
  font-size: 30px;
  margin-top: -15px;
  height: 40px;
}
.home .promo-trips .trip-location .learn-more {
  background-color: #79addc;
  border-radius: 20px;
  color: #fff;
  padding: 11px 21px;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 133px;
  margin: 57px auto 56px;
}
.home .promo-trips #israel {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/israel.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/israel.jpg");
}
.home .promo-trips #usa {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/usa.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/usa.jpg");
}
.home .promo-trips #austrailia {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/austrailia.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/austrailia.jpg");
}
@media only screen and (max-width: 707px) {
  .home .promo-trips {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.home .booking {
  min-height: 400px;
  padding: 50px 0 0;
  max-width: 818px;
  margin: 0 auto;
}
.home .booking h1 {
  font-size: 60px;
  font-family: "Proxima Nova Condensed", sans-serif;
  font-weight: normal;
}
.home .booking .booking-wrapper {
  max-width: 818px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .booking .booking-wrapper .short-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 18px;
  width: 399px;
  height: 58px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}
.home .booking .booking-wrapper .short-input input {
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  border: 1px solid #79ADDC;
  padding: 18px 20px 19px;
}
.home .booking .booking-wrapper .date-input {
  width: 818px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: 18px;
  margin-bottom: 20px;
}
.home .booking .booking-wrapper .date-input label {
  min-width: 108px;
  padding: 18px 0 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.home .booking .booking-wrapper .date-input input {
  width: 100%;
  border: 1px solid #79ADDC;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  padding: 18px 20px 19px;
}
.home .booking .booking-wrapper .number-select {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 211px;
  margin-bottom: 20px;
}
.home .booking .booking-wrapper .number-select label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-width: 108px;
  font-size: 18px;
}
.home .booking .booking-wrapper .number-select select {
  width: 103px;
  height: 58px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  border: 2px solid #79ADDC;
  padding: 18px 20px 19px;
}
.home .booking .booking-wrapper .long-input {
  max-width: 818px;
  width: 100%;
  margin-bottom: 37px;
}
.home .booking .booking-wrapper .long-input textarea {
  width: 100%;
  min-height: 192px;
  resize: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  padding: 20px 20px;
  border: 1px solid #79ADDC;
}
.home .booking .booking-wrapper .booking-submit {
  background-color: #79addc;
  border-radius: 20px;
  color: #fff;
  padding: 11px 21px;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 100%;
  margin-bottom: 100px;
}
@media only screen and (max-width: 800px) {
  .home .short-input {
    min-width: 100%;
  }
}

footer {
  height: 100px;
  background-color: #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .logo {
  width: 92px;
  height: 42px;
  margin: 29px 0px 29px 150px;
  border: solid 2px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
}
footer .copyright {
  text-align: center;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
}
footer .social-media {
  width: 112px;
  height: 24px;
  margin: 39px 150px 38px 0;
}